<?xml version="1.0" encoding="UTF-8"?>
<!-- Main logging configuration -->
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${appskeleton.logfile}</file>
        <encoder>
            <pattern>%d{dd.MM.yy HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

</configuration>
